extends layout

block content
  div.container
    h1= title
    p I'm a programming student at Georgian College currently in my final semester.
    p I currently work part time at Academy Of Learning
    p I mostly work with Java and and I really like creating programs which can gather data from APIs

    
